.footerWrapper {
  border-top: 1px solid #272727;
  display: flex;
  justify-content: center;
  padding: 5rem 0 4rem;
}

.footerMain {
  width: 64rem;
  display: flex;
  justify-content: space-between;
  padding-bottom: 3rem;
}

.links {
  display: flex;
  gap: 4rem;
}

.linkGroup {
  gap: 1rem;
  display: flex;
  flex-direction: column;
}

.legal > p:nth-of-type(1) {
  font-weight: 500;
}
.legal > p:nth-of-type(2) {
  font-size: 0.9rem;
  color: #808080;
}
