.menu {
  display: flex;
  font-size: 0.9rem;
  list-style-type: none;
  width: 180px;
  height: 56px;
  background-color: #f2f2f20d;
  backdrop-filter: blur(0.5rem);
  justify-content: center;
  align-items: center;
  border-radius: 2rem;
  border: 1px solid #f2f2f21a;
  transition: backgroud-color 0.5s ease-out, border-color 1s ease-out;
  pointer-events: auto;
}

.menu:hover {
  background-color: #f2f2f214;
  border-color: #555555;
}

.menu li a {
  color: #f2f2f2;
  display: flex;
  justify-content: center;
  padding: 0.5rem 1rem;
  border-radius: 2rem;
  width: 5rem;
}

.menu li a:hover {
  background-image: linear-gradient(to bottom, #0000, #333333);
}

.active {
  background-color: #33333391;
  transition: background-color 0.5s ease-out;
}
.active:hover {
  background-color: #383838;
}
